
.product{
  display: flex;
  border-bottom: 1px solid lightgrey;
   margin-right: 5px;
}
.product h4 {
  color: blue;
}
.product-details button{
  background-color: goldenrod;
  width: 90% ;
  border-radius: 5px;
  border: 1px solid black ;
}
.product-image {
  padding: 20px;
}
.product-info {
  display: flex ;
}