
.product{
  display: flex;
  border-bottom: 1px solid lightgrey;
   margin-right: 5px;
}
.product-name {
  color: blue;
  text-decoration: none;
}
.button{
  background-color: goldenrod;
  width: 90% ;
  border-radius: 5px;
  border: 1px solid black ;
}
.product-image {
  padding: 20px;
}
.product-info {
  display: flex ;
}
.info {
  width: 50%;
  padding: 3px;
}